.App {
  background-position: center;
}
.App-header {
  background-color: rgb(0, 0, 0); /* Background overlay color */
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-box {
  background-color: #247ec7;
  padding: 20px;
  border-radius: 10px;
  margin-top: auto;
}

.carousel-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.carousel-provider {
  width: 75%;
  height: 75%;
}

.carousel-slider {
  width: 75%;
  height: 75%;
}

.carousel-container {
  flex: 1;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.carousel-provider {
  width: 100%;
  height: 100%;
}

.carousel-slider {
  width: 100%;
  height: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}



.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button:first-child {
  right: 10px;
}

.carousel-button:last-child {
  right: 240px;
}